.border{
    border: 1px solid black;
}
.parent{
    width: 400px;
    height: 300px;
}
.box{
    width: 50px;
    height: 50px;
    color:black;

     
}
.bg-success{

    background-color: green;

}
.bg-warning{

    background-color: yellow;
}
.bg-info{
    background-color: aqua;
}
.bg-purple{
    background-color: purple;
}


